<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Menu Degreaux{% endblock %}</title>
        <!-- police -->
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" >
        <link rel="stylesheet" href="{{ asset('css/bootstrap-flatly-3.3.7.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome-4.6.3.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-lato.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/highlight-solarized-light.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-tagsinput.css') }}">
        <!-- style perso -->
        <link rel="stylesheet" href="{{ asset('css/css_sass/css/style.css') }}">
        {% block stylesheets %}

        {% endblock %}
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
            <header>
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('homepage') }}">
                                Menu Degreaux
                            </a>
                            <button type="button" class="navbar-toggle"
                                    data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="sr-only">Menu</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                {% block header_navigation_links %}

                                    {% if is_granted("ROLE_USER") %}
                                        <li class="dropdown">
                                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                      {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                                       <span class="caret"></span>
                                                   </a>
                                                  <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="{{ asset('/profile') }}">
                                                            <i class="fa fa-user" aria-hidden="true"></i> Profil
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ asset('/resseting') }}">
                                                            <i class="fa fa-key" aria-hidden="true"></i> Changer le mot de passe
                                                        </a>
                                                    </li>
                                                    {% if is_granted("ROLE_ADMIN") %}
                                                        <li>
                                                            <a href="{{ asset('/register') }}">
                                                                <i class="fa fa-user-plus" aria-hidden="true"></i> Ajouter un utilisateur
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                  </ul>
                                                </li>

                                    {% endif %}

                                    <li>
                                        <a href="{{ path('homepage') }}">
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            Homepage
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://lievin.fr/" target="_blank">
                                            <i class="fa fa-reply " aria-hidden="true"></i>
                                            Ville de Liévin
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:window.print()">
                                            <i class="fa fa-print " aria-hidden="true"></i>
                                             Imprimer
                                        </a>
                                    </li>




                                    {% if is_granted("ROLE_USER") %}
                                        <li>
                                            <a href="{{ asset('/adminSonata') }}">

                                                <i class="fa fa-lock" aria-hidden="true"></i> Gestion des menus
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li>
                                            <a href="{{ path('fos_user_security_logout') }}">
                                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                            </a>
                                        </li>
                                        {% else %}
                                        <li>
                                            <a href="{{ path('fos_user_security_login') }}">
                                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                                {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% for type, messages in app.session.flashBag.all %}
                                        {% for message in messages %}
                                            <div class="{{ type }}">
                                                {{ message|trans({}, 'FOSUserBundle') }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}

                                {% endblock %}





                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

        <div class="container body-container">
            {% block body %}
                {{ include('default/_flash_messages.html.twig') }}
                <div class="row">
                    <div id="main" class="col-md-9 col-xs-12">
                        {% block main %}
                        {% endblock %}
                    </div>

                    <div id="sidebar" class="col-md-3 col-xs-12">
                        {% block sidebar %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright" class="col-md-12 col-xs-12">
                            <p>&copy; {{ 'now'|date('Y') }} - Liévin</p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
            <script src="{{ asset('js/moment.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-3.3.7.min.js') }}"></script>
            <script src="{{ asset('js/highlight.pack.js') }}"></script>
            <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-tagsinput.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}


    </body>
</html>
