.navbar-default .navbar-nav > li > .log {
  color: #18bc9c;
  font-weight: bold; }
  @media (max-width: 767px) {
    .navbar-default .navbar-nav > li > .log {
      margin-bottom: 20px; } }

.subtitle {
  margin-bottom: 50px;
  color: #757575;
  font-style: italic; }

.img-menu {
  height: 20px;
  margin-right: 15px; }

.navbar {
  background-color: #e6e6e6; }

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: #555; }

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
  color: #999; }

.navbar-toggle {
  border: none;
  background-color: #999; }

.btn {
  width: 250px;
  height: 50px;
  background-color: #dddddd;
  margin: 5px; }

body {
  color: #555;
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  text-align: center; }
  body h1 {
    margin-top: 80px;
    font-family: "Dosis", sans-serif; }
    @media (max-width: 767px) {
      body h1 {
        margin: 10px; } }

#sidebar {
  text-align: left;
  position: relative;
  padding-top: 80px;
  padding-left: 150px; }
  #sidebar a {
    color: #2C3E50; }
  #sidebar a:hover {
    text-decoration: underline; }
  @media (max-width: 767px) {
    #sidebar {
      bottom: 20px;
      text-align: center;
      padding: 40px; } }

.titre {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 50px;
  color: #555;
  text-transform: uppercase;
  font-weight: bold; }
  @media (max-width: 767px) {
    .titre {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 10px; } }

.text {
  text-align: center;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  text-transform: capitalize; }
  @media (max-width: 767px) {
    .text {
      text-align: center; } }

.ligne {
  padding-top: 15px;
  padding-bottom: 15px; }
  @media (max-width: 767px) {
    .ligne {
      padding-top: 0px;
      padding-bottom: 0px; } }

.btn {
  border: none;
  color: #eee;
  background-color: #555; }

#externebtn {
  color: #eee;
  background-color: #02a3e6;
  font-size: 18px;
  font-weight: bold;
  margin-top: 65px;
  margin-bottom: 105px; }
  @media (max-width: 767px) {
    #externebtn {
      margin: 10px; } }

#externebtn:visited {
  color: #333; }

#externebtn:hover {
  color: #eee;
  background-color: #798d8f; }

#menu_externe .titre, #menu_externe h1 {
  color: #02a3e6; }

#scolairebtn {
  color: #eee;
  background-color: #e602e3;
  font-size: 18px;
  font-weight: bold;
  margin-top: 65px;
  margin-bottom: 105px; }
  @media (max-width: 767px) {
    #scolairebtn {
      margin: 10px; } }

#scolairebtn:actived {
  color: #333; }

#scolairebtn:hover {
  color: #eee;
  background-color: #798d8f; }

#menu_scolaire .titre, #menu_scolaire h1 {
  color: #e602e3; }

#residentbtn {
  color: #eee;
  background-color: #e60258;
  font-size: 18px;
  font-weight: bold;
  margin-top: 65px;
  margin-bottom: 105px; }
  @media (max-width: 767px) {
    #residentbtn {
      margin: 10px; } }

#residentbtn:visited {
  color: #333; }

#residentbtn:hover {
  color: #eee;
  background-color: #798d8f; }

#menu_resident .titre, #menu_resident h1 {
  color: #e60258; }
#menu_resident .sous-titre {
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 3px;
  color: #e60258; }

#login .row div {
  margin-top: 20px;
  margin-bottom: 20px; }

.erreur {
  color: red;
  font-weight: bold; }

#footer-copyright {
  color: #333; }

footer {
  background-color: white;
  bottom: 0px;
  position: relative;
  text-align: left;
  margin-top: 50px; }

/*# sourceMappingURL=style.css.map */
