{% extends 'base.html.twig' %}

{% block body_id 'menu_resident' %}

{% block main %}
<h1> Menu Résident</h1>
<p class="subtitle"> Menu du midi et du soir</p>


    <div class="row ligne">

        <div class="col-md-2 col-xs-12">
            <div class="titre">Lundi</div>
        </div>

        <div class="col-md-5 col-xs-12">
            <div class="sous-titre">Midi</div>
            <div class="menu">
                <div class=" text">{{ menuMidi.lundiEntree }}</div>
                <div class=" text">{{ menuMidi.lundiPlat }}</div>
                <div class="text">{{ menuMidi.lundiAccompagnement }}</div>
                <div class=" text">{{ menuMidi.lundiDessert }}</div>
            </div>
        </div>

        <div class="col-md-5 col-xs-12">
            <div class="sous-titre">Soir </div>
            <div class="menu">
                <div class=" text">{{ menuSoir.lundiEntree }}</div>
                <div class=" text">{{ menuSoir.lundiPlat }}</div>
                <div class="text">{{ menuSoir.lundiAccompagnement }}</div>
                <div class=" text">{{ menuSoir.lundiDessert }}</div>
            </div>
        </div>

    </div>


    <div class="row ligne">

        <div class="col-md-2 col-xs-12">
            <div class="titre">Mardi</div>
        </div>

        <div class="col-md-5 col-xs-12">
            <div class="sous-titre">Midi</div>
            <div class="menu">
                <div class=" text">{{ menuMidi.mardiEntree }}</div>
                <div class=" text">{{ menuMidi.mardiPlat }}</div>
                <div class="text">{{ menuMidi.mardiAccompagnement }}</div>
                <div class=" text">{{ menuMidi.mardiDessert }}</div>
            </div>
        </div>

        <div class="col-md-5 col-xs-12">
            <div class="sous-titre">Soir </div>
            <div class="menu">
                <div class=" text">{{ menuSoir.mardiEntree }}</div>
                <div class=" text">{{ menuSoir.mardiPlat }}</div>
                <div class="text">{{ menuSoir.mardiAccompagnement }}</div>
                <div class=" text">{{ menuSoir.mardiDessert }}</div>
            </div>
        </div>

    </div>

    <div class="row ligne">

        <div class="col-md-2 col-xs-12">
            <div class="titre">Mercredi</div>
        </div>

        <div class="col-md-5 col-xs-12">
            <div class="sous-titre">Midi</div>
            <div class="menu">
                <div class=" text">{{ menuMidi.mercrediEntree }}</div>
                <div class=" text">{{ menuMidi.mercrediPlat }}</div>
                <div class="text">{{ menuMidi.mercrediAccompagnement }}</div>
                <div class=" text">{{ menuMidi.mercrediDessert }}</div>
            </div>
        </div>

        <div class="col-md-5 col-xs-12">
            <div class="sous-titre">Soir </div>
            <div class="menu">
                <div class=" text">{{ menuSoir.mercrediEntree }}</div>
                <div class=" text">{{ menuSoir.mercrediPlat }}</div>
                <div class="text">{{ menuSoir.mercrediAccompagnement }}</div>
                <div class=" text">{{ menuSoir.mercrediDessert }}</div>
            </div>
        </div>

    </div>
    <div class="row ligne">

        <div class="col-md-2 col-xs-12">
            <div class="titre">Jeudi</div>
        </div>

        <div class="col-md-5 col-xs-12">
            <div class="sous-titre">Midi</div>
            <div class="menu">
                <div class=" text">{{ menuMidi.JeudiEntree }}</div>
                <div class=" text">{{ menuMidi.JeudiPlat }}</div>
                <div class="text">{{ menuMidi.JeudiAccompagnement }}</div>
                <div class=" text">{{ menuMidi.JeudiDessert }}</div>
            </div>
        </div>

        <div class="col-md-5 col-xs-12">
            <div class="sous-titre">Soir </div>
            <div class="menu">
                <div class=" text">{{ menuSoir.JeudiEntree }}</div>
                <div class=" text">{{ menuSoir.JeudiPlat }}</div>
                <div class="text">{{ menuSoir.JeudiAccompagnement }}</div>
                <div class=" text">{{ menuSoir.JeudiDessert }}</div>
            </div>
        </div>

    </div>

    <div class="row ligne">

        <div class="col-md-2 col-xs-12">
            <div class="titre">Vendredi</div>
        </div>

        <div class="col-md-5 col-xs-12">
            <div class="sous-titre">Midi</div>
            <div class="menu">
                <div class=" text">{{ menuMidi.vendrediEntree }}</div>
                <div class=" text">{{ menuMidi.vendrediPlat }}</div>
                <div class="text">{{ menuMidi.vendrediAccompagnement }}</div>
                <div class=" text">{{ menuMidi.vendrediDessert }}</div>
            </div>
        </div>

        <div class="col-md-5 col-xs-12">
            <div class="sous-titre">Soir </div>
            <div class="menu">
                <div class=" text">{{ menuSoir.vendrediEntree }}</div>
                <div class=" text">{{ menuSoir.vendrediPlat }}</div>
                <div class="text">{{ menuSoir.vendrediAccompagnement }}</div>
                <div class=" text">{{ menuSoir.vendrediDessert }}</div>
            </div>
        </div>

    </div>

    <div class="row ligne">

        <div class="col-md-2 col-xs-12">
            <div class="titre">Samedi</div>
        </div>

        <div class="col-md-5 col-xs-12">
            <div class="sous-titre">Midi</div>
            <div class="menu">
                <div class=" text">{{ menuMidi.samediEntree }}</div>
                <div class=" text">{{ menuMidi.samediPlat }}</div>
                <div class="text">{{ menuMidi.samediAccompagnement }}</div>
                <div class=" text">{{ menuMidi.samediDessert }}</div>
            </div>
        </div>

        <div class="col-md-5 col-xs-12">
            <div class="sous-titre">Soir </div>
            <div class="menu">
                <div class=" text">{{ menuSoir.samediEntree }}</div>
                <div class=" text">{{ menuSoir.samediPlat }}</div>
                <div class="text">{{ menuSoir.samediAccompagnement }}</div>
                <div class=" text">{{ menuSoir.samediDessert }}</div>
            </div>
        </div>

    </div>
    <div class="row ligne">

    <div class="col-md-2 col-xs-12">
        <div class="titre">Dimanche</div>
    </div>

    <div class="col-md-5 col-xs-12">
        <div class="sous-titre">Midi</div>
        <div class="menu">
            <div class=" text">{{ menuMidi.dimancheEntree }}</div>
            <div class=" text">{{ menuMidi.dimanchePlat }}</div>
            <div class="text">{{ menuMidi.dimancheAccompagnement }}</div>
            <div class=" text">{{ menuMidi.dimancheDessert }}</div>
        </div>
    </div>
    <div class="col-md-5 col-xs-12">
        <div class="sous-titre">Soir</div>
        <div class="menu">
            <div class=" text">Pas de menu le dimanche soir</div>
        </div>
    </div>

</div>


{% endblock %}

{% block sidebar %}
<p class="titre">
    Voir le menu :
</p>
<div>
    <a href="{{ path('externe') }}" >
        Externe
    </a>
</div>
<div>
    <a  href="{{ path('scolaire') }}">
        Scolaire
    </a>
</div>
<div>
    <a href="{{ path('resident') }}" >
        Résident
    </a>
</div>



{% endblock %}
