{% extends 'base.html.twig' %}



{% block body_id 'menu_scolaire' %}

{% block main %}
<h1> Menu Scolaire</h1>
<p class="subtitle"> Menu du midi uniquement</p>

            <div class="row ligne">

                <div class="col-md-4 col-xs-12">
                    <div class="col-xs-12">
                        <div class="titre">Lundi </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="menu">
                            <div class=" text">{{ menuScolaire.lundiEntree }}</div>
                            <div class=" text">{{ menuScolaire.lundiPlat }}</div>
                            <div class="text">{{ menuScolaire.lundiAccompagnement }}</div>
                            <div class=" text">{{ menuScolaire.lundiDessert }}</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class=" col-xs-12">
                        <div class="titre">Mardi </div>
                    </div>
                    <div class="col- col-xs-12">
                        <div class="menu">
                            <div class=" text">{{ menuScolaire.mardiEntree }}</div>
                            <div class=" text">{{ menuScolaire.mardiPlat }}</div>
                            <div class="text">{{ menuScolaire.mardiAccompagnement }}</div>
                            <div class=" text">{{ menuScolaire.mardiDessert }}</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="col-xs-12">
                        <div class="titre">Mercredi </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="menu">
                            <div class=" text">{{ menuScolaire.mercrediEntree }}</div>
                            <div class=" text">{{ menuScolaire.mercrediPlat }}</div>
                            <div class="text">{{ menuScolaire.mercrediAccompagnement }}</div>
                            <div class=" text">{{ menuScolaire.mercrediDessert }}</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row ligne">

                <div class="col-md-4 col-xs-12">
                    <div class="col-xs-12">
                        <div class="titre">Jeudi </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="menu">
                            <div class=" text">{{ menuScolaire.jeudiEntree }}</div>
                            <div class=" text">{{ menuScolaire.jeudiPlat }}</div>
                            <div class="text">{{ menuScolaire.jeudiAccompagnement }}</div>
                            <div class=" text">{{ menuScolaire.jeudiDessert }}</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class=" col-xs-12">
                        <div class="titre">Vendredi </div>
                    </div>
                    <div class="col- col-xs-12">
                        <div class="menu">
                            <div class=" text">{{ menuScolaire.vendrediEntree }}</div>
                            <div class=" text">{{ menuScolaire.vendrediPlat }}</div>
                            <div class="text">{{ menuScolaire.vendrediAccompagnement }}</div>
                            <div class=" text">{{ menuScolaire.vendrediDessert }}</div>
                        </div>
                    </div>
                </div>


            </div>



{% endblock %}

{% block sidebar %}
<p class="titre">
    Voir le menu :
</p>
<div>
    <a href="{{ path('externe') }}" >
        Externe
    </a>
</div>
<div>
    <a  href="{{ path('scolaire') }}">
        Scolaire
    </a>
</div>
<div>
    <a href="{{ path('resident') }}" >
        Résident
    </a>
</div>



{% endblock %}
